In [3]:
import pandas as pd #Great for formatting and reimaging data
import numpy as np #Great for statistical functions
#Goal of this is to TEST if I can add a state column using keyword search in the address line

In [4]:
from uszipcode import SearchEngine #Using this to get zip codes and create a state column

In [5]:
df = pd.read_csv('NOBO_Cleaned-states.csv') #Read data into Pandas
df_copy = df.copy() #Making a copy incase

In [6]:
df.sample(5)

,JOB NUMBER,ISSUER NAME,CUSIP,CLIENT,CLASSIFICATION,SHARES,TOTAL SHARES,# OF NOBOS,CONTACT/ADDRESS,ADDRESS,ZIP CODE
130,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552UY9,VENERABLE INSURANCE AND ANNUITY CO,Insurance Company,165000,12640000,86,1475 DUNWOODY DRIVE,WEST CHESTER PENNSYLVANIA 19380 WEST CHES...,19380
113,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552T54,MATTHEW BUZZETTA,Retail,15000,6345000,17,CHARLES SCHWAB & CO INC CUST,IRA ROLLOVER MGR: 55I LLC 374 ALFERMAN VALLEY...,63090
233,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552UZ6,TRUIST ADVISORY SERVICES INC.,Investment Firm,20000,41295000,40,PINNACLE MANAGED,TRUIST INVESTMENT SERVICES INC. ATTN TRUIST IN...,30303
213,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552UZ6,CONNING ASSET MANAGEMENT,Investment Firm,600000,41295000,40,ONE FINANCIAL PLAZA,HARTFORD CT 06103 HARTFORD ...,6103
67,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552T39,RALPH J ZONIES,Retail,25000,5920000,23,CHARLES SCHWAB & CO INC CUST,IRA ROLLOVE 12 WASHINGTON DR MARLTON NJ,8053

In [10]:
def get_state(zip_code): #create a function to check zip code and create a new state column
    search = SearchEngine()
    result = search.by_zipcode(zip_code)
    if result:
        return result.state
    else:
        return 'EX'  # or any default value you prefer for non-U.S. zip codes

In [11]:
df['STATE'] = df['ZIP CODE'].astype(str).apply(get_state) #add new column, keep zipcode as string since not a "value"

Download C:\Users\richard.osborn\.uszipcode\simple_db.sqlite from https://github.com/MacHu-GWU/uszipcode-project/releases/download/1.0.1.db/simple_db.sqlite ...
  1.00 MB downloaded ...
  2.00 MB downloaded ...
  3.00 MB downloaded ...
  4.00 MB downloaded ...
  5.00 MB downloaded ...
  6.00 MB downloaded ...
  7.00 MB downloaded ...
  8.00 MB downloaded ...
  9.00 MB downloaded ...
  10.00 MB downloaded ...
  11.00 MB downloaded ...
  Complete!

In [12]:
df.sample(5) #It worked after some installing and adjusting, need that new computer

,JOB NUMBER,ISSUER NAME,CUSIP,CLIENT,CLASSIFICATION,SHARES,TOTAL SHARES,# OF NOBOS,CONTACT/ADDRESS,ADDRESS,ZIP CODE,STATE
171,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552UY9,VIVIAN R LAHMON TTEE,Retail,5000,12640000,86,JOHN & VIVIAN LAHMON REV TR,U/A 5/18/05 U/A 5/18/...,78639,TX
102,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552T54,G SCHREIBER & L SCHREIBER TTEE,Investment Firm,50000,6345000,17,GEORGE M SCHREIBER & LORI J SC,U/A DTD 01/29/1999 W2573 CANDLELITE WAY APPLET...,54915,WI
154,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552UY9,RICHARD STRYKER,Retail,10000,12640000,86,CHARLES SCHWAB & CO INC CUST,IRA CONTRIBUTORY IRA CONTR...,17756,PA
64,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552T39,BUNNY FUND LLC,Bond Fund,30000,5920000,23,3413 BUNNY RUN,"AUSTIN, TX",78746,TX
202,I17079,TURNPIKE AUTHORITY OF KENTUCKY,491552UZ6,NATIONWIDE,Insurance Company,11000000,41295000,40,ATTN: JENELL PAYNE,ONE NATIONWIDE PLAZA 1-4-03 ONE NATIO...,43215,OH

In [13]:
#Seems to have worked creating a new column, so now going to save this and do some stats in another notebook
df.to_csv(r'U:\Python\NOBO\NOBO_Cleaned.csv', index=False)